/* Global CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
}

/* DisplayQuestions Component Css  */
.display_questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}
.display_questions__heading {
  margin-top: 10px;
  text-decoration: underline;
}
.display_questions__question {
  width: 50vw;
  height: 28vh;
  background-color: #ecf1f4;
  margin-top: 10vh;
  padding-left: 25px;
  border-radius: 10px;
  padding-right: 25px;
  box-shadow: 0px 0px 20px 1px black;
}
.display_questions__question__inner {
  margin-top: 10vh;
}
.display_questions__buttons {
  margin-top: 20vh;
  display: flex;
  gap: 100px;
}
.display_questions__buttons__previous {
  padding: 10px;
  background-color: rgb(222, 169, 10);
  color: white;
  border: none;
  border-radius: 2px;
  font-size: medium;
  width: 100px;
}
.display_questions__buttons__previous:hover {
  background-color: rgb(202, 154, 9);
}
.display_questions__buttons__next {
  padding: 10px;
  background-color: rgb(222, 169, 10);
  color: white;
  border: none;
  border-radius: 2px;
  font-size: medium;
  width: 100px;
}
.display_questions__buttons__next:hover {
  background-color: rgb(202, 154, 9);
}

/* Media Query For Mobile And Tablet */

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .display_questions {
    width: 95%;
  }
  .display_questions__question {
    width: 90vw;
  }
  .display_questions__buttons {
    margin-top: 15vh;
  }
}
